{
  "presets": ["es2015", "stage-0", "react"],
  "env": {
    "development": {
      "plugins": [
        ["module-resolver", {
          "root": ["./src"],
          "extensions": [".js", ".md"],
          "alias": {
            "readme": "./readme.md",
            "actions": "./src/store/actions/index.js"
          }
        }],
        ["react-transform", {
          "transforms": [{
            "transform": "livereactload/babel-transform",
            "imports": ["react"]
          }]
        }]
      ]
    }
  }
}
