{
  "presets": [
    "env",
    "stage-1",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "import-glob",
    "transform-function-bind",
    "transform-async-generator-functions",
    "transform-runtime"
  ]
}
