.page {
  background-color: white;
  padding: 20px;

  & .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgrey;

    & .navitem {
      float: left;

      & .navlink {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        background-color: gray;

        &:hover {
          background-color: #111;
          color: white;
        }

        &.active {
          color: red;
          background-color: black;
        }
      }

      &.ra {
        float: none;
        text-align: right;
        padding-top: 14px;
        padding-right: 4px;
      }

      &.fr {
        float: right;
      }
    }
  }
}
