.main {
  background-color: white;
  padding: 20px;

  & > h1 {
    font-family: 'Varela Round';
    margin: 0 auto;
    text-align: center;
  }

  & ul {
    list-style: none;

    & li {
      margin-top: 15px;
    }
  }
}
